html {
    font-size:10px;
    font-family: "Ubuntu", sans-serif;
}

body .navbar{
    padding: 0.8rem;
}

body .navbar-nav{
    margin-left: 4.7rem;
}

body .nav-link{
    font-size: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

body .navbar-toggler{
    margin-left: 4.7rem;
}

body .name{
    font-size: clamp(1.5rem, 8vh, 6.4rem);
    letter-spacing: 1.5rem;
    line-height: clamp(5rem, 15%,  9rem);
    font-family: "Ubuntu Condensed", sans-serif;
    text-align: center;
    padding-top: 2rem;
}

 body #about{
    background: var(--background);
    height: 97vh;
    padding-top: 40px;
 }

 .content-wrapper{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 5vh;
 }

 .content-wrapper > img{
    width: clamp(18rem, 18%, 250px);
    margin-left: 2vw;
    margin-right: 2vw;
} 

#about .text-about{
    font-size: clamp(1.2rem, 70%, 2rem);
    text-align: justify;
    width: 70vw;
    height: 28.5vh;
    margin-right: 2vw;
 }

#about .stacks{
    margin-top: 4vh;
}

#about .stacks > img{
    width: clamp(3.5rem, 5%, 100px);
    margin-right: 3rem;
}

 @media only screen and (max-width: 700px)
 {
    .content-wrapper{
        display: grid;
        /* align-items: center; */
        justify-content: center;
        padding-top: 2vh;
    }
    
    .content-wrapper > img{
        margin: auto;
    }
    #about .text-about{
        padding-top: 1vh;
        margin: auto;
    }
}

body #exp{
    height: 97vh;
    background: black;
 }

body .experiences{
    color: white;
 }